/* UA CSS 標準CSSを打ち消すもの reset.css, Normalize.css */
/* CSSをリセットする */
@import  url('normalize.css');

body {
	/* カラーコード 3桁から8桁で記述される */
	background-color: #eee;
}
h1 {
text-align: center;
font-size: 1.5em;
}
p {
color: dimgray;
}

header {
	background-color: white;
}